.about-card-wrap {
    display: flex;
    margin: 32px 0;

    /* align-items: center; */

    gap: 100px;

    padding: 0 24px;
}

.about-card {
    margin: 42px 0;
}

.about-news-category {
    margin-top: 40px;
}