.about-card--title,
.about-card-article {
    font-family: "Crimson Pro";
    font-size: 38px;
    font-style: normal;
    font-weight: 500;

    margin-bottom: 20px;
}

.about-card--title {
    font-weight: 900;
}

.about-card {
    margin-bottom: 54px;
}

.about-card--img-wrap {
    width: 712px;
    height: 300px;

    margin-bottom: 20px;
}

.about-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.about-card-article {
    font-size: 28px;
    font-weight: 400;
    width: 712px;
    text-align: justify;
}