.article-card {
    display: flex;
    gap: 14px;
    width: 611px;

    margin-bottom: 15px;
}

.article-img {
    width: 356px;
    height: 247px;

    flex-shrink: 0;
}

.article-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tier-plan {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-align: right;

    margin-bottom: 20px;
}

.article-description {
    font-weight: 400;
    font-size: 18px;
    font-weight: 600;
    /* text-align: justify; */
    text-transform: capitalize;
}

.article-link {
    text-decoration: none;
    margin-top: 10px;
    display: block;
    text-align: right;
}