.header-info {
    font-family: 'Crimson Pro', serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 20px;

    width: 333px;
    height: 92px;
}

.al-bishak {
    font-size: 48px;
}

.phd {
    font-size: 25px;
}