.article-container {
    margin-top: 70px;
    padding: 0 70px;

    display: flex;
    justify-content: space-between;

    padding-bottom: 100px;
    border-bottom: 2px solid #000;
    margin-bottom: 33px;
}

.img-rept {
    width: 682px;
    height: 494px;
    /* background: #D9D9D9; */

    margin-bottom: 20px;


}

.full-page-article-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.article-title {
    margin-bottom: 20px;
}

.article-contents {
    color: #000;
    text-align: justify;
    font-family: "Crimson Pro";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    /* 140.625% */

    width: 681px;
}

.article-items {
    margin-left: 50px;
}

.article-subtitle {
    font-weight: 600;
}

.second-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recent-articles-title,
.article-title {
    font-weight: 400;
    display: inline-block;
    /* color: red */
    /* border-bottom: 1px solid #000; */
}

.article-title a {
    color: #000;
    /* padding-bottom: 5px; */
    /* text-decoration */
}


.recent-articles {
    width: 386px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 50px;
}