.menus {
    display: flex;
    justify-content: space-between;
    /* gap: 82px; */
    list-style: none;

    font-family: 'Roboto' Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;

    width: 80%;

    margin: 0 auto;

    margin-top: 15px;
    border-bottom: 2px solid #000;
}

.nav-menu {
    cursor: pointer;
}

.search-field {
    display: flex;
    justify-content: center;

    margin-top: 30px;
}

.search-input {
    width: 70%;

    /* margin: 30px auto; */
    /* height: 66px; */

    border-radius: 5px;
    background: var(--search-input-background);

    color: rgba(0, 0, 0, 0.50);

    font-family: Roboto Serif;
    font-size: 24px;

    padding: 19px 39px;
}

box-icon {
    display: block;
    margin-left: -50px;
    cursor: pointer;
}